.shopping-book{
    border: 5px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 10px 8px 2px rgb(0 0 0 / 30%);
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 100px auto;
    padding: 20px;
    width: 500px;
    background-color: #00cab9;
}

.add-form{
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.form-heading{
    margin: 10px;
}
.form-input{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 10px;
    font-size: 22px;
}
.form-btn{
    font-size: 90px;
    width: 200px;
    margin: 10px;
    background-color: #83fff5;
    border: 5px solid #000000;
    border-radius: 20px;
}

.products-list{
    padding: 0 0 0 10px;
}
.product-box{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.product-btn{
    width: 70px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    background: rgb(255, 100, 100);
    padding: 0;
    /* :hover, :focus {
    color: white;
    background-color: red;
    } */
}